.top{
    background-image: url(/assets/images/bg_img.webp);
background-size: cover;
background-position: 100%;
background-repeat: no-repeat;
height: 100%;
width: 100%;
color: white;
    font-family: 'Ysabeau SC', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
body{

    margin: 0;
    padding: 0;
}

.note>p{
    margin-left:3rem;
}

.icon{
    position: relative;
    top: -0.5em;
        left: 38.9em;

}
.top>h2{
position: relative;
top: 20px;
    text-align: center;
}

.navi>nav{

    display: flex;
    position: relative;
    top: -2em;
    right: 26px;
    font-weight: 700;
    font-size: 1.1em;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    gap:10px;
}



nav>:nth-child(2){
    display: flex;
    align-items: center;
background-color: white;
text-align: center;
height: 2.6rem;
width: 5.3rem;
justify-content: center;

border-radius: 20px;
    color:black;
}



nav>:nth-child(1){
    display: flex;

    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0.2,0.1);
text-align: center;
height: 2.6rem;
width: 5.3rem;
border-radius: 20px;
color: white;}

nav>li:hover{
cursor: pointer;

}
nav>:nth-child(1):hover{

background-color: rgba(0,0,0.2,0.2);

}

.note{

    display: flex;
    flex-direction: column;
    position: relative;
    top:5em;
    line-height: 44px;
    
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    font-weight: 790;
    font-size: 2.3rem;
}

#txt{

    height:3.7rem;
    font-size:1rem;
    width: 34rem;
    border-radius: 30px;
    border-style: none;

    
}

#loc{

    position: relative;
    top: 0.1em;
    left: 1.4em;
}

#txt::placeholder{

    position: absolute;
left: 4em;
}

input{

    text-align: center;
}

.address{

    display: flex;
background-color: azure;
border-radius: 20px;
margin-top:0.8em;
font-size: small;
color: #494949;
gap: 4px;
padding:-0em 2em;

}
#arrow{

    position:relative;
    height: 1.1em;
right: 1.4em;
background-color:#eb1700;
background-size:100%;
border-radius: 25px;
font-size: 1em;

}

.textarea{
display: flex;
align-items: center;
}

.address>span:hover{

    cursor: pointer;
}

#arrow:hover{

    cursor: pointer;
}


#signup{

    text-decoration: none;
}

nav>a{
    text-decoration: none;
}


/* >>>>>>>>>>>>>>>>>>>>>>responsive for mobile >>>>>>>>>>>>*/




@media(max-width:1120px){


    .top{

        width: 80em;
    }


    .section2{
        display: flex;
        gap: 5em;
        margin-left: 2em;
        padding-left: 4em;
    }

    .note{
        margin-top: 3em;
    }
   .mtitle{zoom: 200%;
   }
   .icon{
display: none;   }
}



@media(max-width:720px){



    
    .section2{
    
        display: flex;
        gap: 2em;
        
    justify-content: center;
    align-items: center;
        flex-direction: column;
    }
    
    
    
    
    .section3{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        }
        
        .arrow1{
            margin-top: 2em;
            padding-top: 2em;
        }
        .arrow2{
            margin-top: 2em;
            padding-top: 2em;
        }
        .arrow3{
            margin-top: 1em;
        }
    
        .top{
    
            width:54em;
        }
    
        .img{
            padding-right: 5em;
        }



/* section 4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */





.section4{

    display: flex;
    flex-direction: column;
    width: 54em;
}
.food{

    display:flex;
    flex-direction: column;
    zoom: 120%;
}

.bake{
    margin-right:16em;
}


    }
    
    
    
    
    
    








@media  (max-width:1000px){

.icon{
display: none;
}

.navi>nav{

    margin-top: 2rem;
}
}


@media(max-width:600px){



.top{
width:80em;
height: 80rem;}

.note{

    margin-top: 5em;
}

.section2{
    margin-left: 20em;
    zoom: 180%;
}

.section3{

zoom: 180%;

}

.eat{
    padding-left: 4em;
    margin-left: 4em;
    max-width: 500px;
}

.notes1{
    margin-left: 5em;
}
/* sec4 */

.section4{


    width: 80em;
}
.bake{
    max-width: 700px;
    zoom: 120%;
}


.food{
    zoom: 180%;
}







} 

@media(max-width:480px){


    .top{
    width: 90em;
    height:60rem;
    background-size: cover;
    background-position: 100%;
    }

    .note{

        margin-top: 3em;
    }

    
.section2{

    display: flex;
    gap: 1em;
justify-content: center;
align-items: center;
    flex-direction: column;
    margin-left: 14em;
    zoom: 180%;
    padding-right: 2em;
}

.arrow1{padding-top: 2em;}
.arrow2{padding-top: 2em;}
.arrow3{padding-top: 2em;}

.img{padding-left: 16em;}

.notes1{
zoom: 180%;
padding-left: 6em;
}
.sec4-span1{zoom: 120%;}
.section4{width: 90em;}
}


@media(max-width:360px){
.top{
width:50em;
    zoom:190%;
}
#shop{
    width: 50em;
    zoom: 130%;
}

.footer{

top: 2em;
background-color: #191919;
position: relative;   
left: 3em; 
width:fit-content;
width:94em;
}



.section3{

    display: flex;
    flex-direction: column;
align-items: center;
width: 80%;
justify-content: center;
zoom: 140%;

}
.img{
    margin-left: 10em;
    width:80%;
}
.notes1{
zoom: 300%;
    padding-left: 12em;
}
body{width:100px;}

.section2{
    zoom: 300%;
}

.eat{

max-width: 80em;
max-height: 600px;
zoom:120%;
    position: relative;
right:20em;
}

.arrow1{
padding-top: 2em;}


.arrow2{
    padding-top: 2em;
}

.arrow3{padding-top: 3em;}


.section4{
width: 95em;
}
.bake{
    zoom: 200%;
    margin-left: 4em;
    padding-left: 2em;
}
.food{
    padding-left: 3em;
    zoom: 300%;
}



.section5{
    margin-left: 8rem;
    height: 70em;
    width: 86em;
}

.section6{
    margin-left: 50em;
    zoom: 110%;
   
}

.sec6-head{
    display: none;
    zoom: 180%;
    margin-left: 10em;
font-size: 30px;}

.shop{display: none;}

#span4{
    display: none;
}

#span6{
    display: none;
}



#hood{

margin-left: 1rem;}

#link{
    text-decoration: none;
    color:rgba(0,0,0.2,0.6);
}

}

@media(max-width:260px){

    .top{

width:38em;        
    }

    .eat{display: none;}

    .textarea{
zoom: 130%;
        width: 450px;
    }

   
    .section3{padding-right: 4em;}
.section2{

position: relative;
right: 6em;}


}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.section2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.section2{


    display: flex;
    margin-top: 8em;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.section2>div{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3em;
}

.section2>div>img{

    height: 154px;
    width: 154px;
}

.span1{
    color: #191919;
    font-weight: 700;
    font-size: 32px;
    max-width: 440px;
}

.div1{
position: relative;
    max-width:310px;
}

.div2{

    max-width:300px;
    position: relative;
    top: 2em;
}

.div3{
position: relative;
top: 2.4em;
    max-width:300px;
}

.div1>span:nth-child(3){
color: #191919;
font-size: 18px;
font-weight: 500;
}

.div2>.span2{
    color: #191919;
font-size: 18px;
font-weight: 500;
}

.div3>.span2{

    color: #191919;
font-size: 18px;
font-weight: 500;
}

.arrow1{
margin-top: -20px;
    color: #eb1700;
    font-weight:650;
    font-size: 18px;
    text-align: center;
}

.arrow2{
    color: #eb1700;
    margin-top: -1em;
    font-weight: 650;
    font-size: 18px;
    text-align: center;
}
.arrow3{

    color: #eb1700;
    margin-top:1em;
    font-weight: 650;
    font-size: 18px;
    text-align: center;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>section3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.section3{


    display: flex;
    margin-left: 12rem;
gap: 3em;
    margin-top: 12em;
}

.section3>div{

    display: flex;
    flex-direction: column;
}

.notes1{

    flex: 1;
    gap: 1em;
}

.img{
    flex: 2;
display: grid;
grid-template-columns:repeat(10,1fr);

}

.eat{

    height: 500px;
    width: 700px;
}

.span4{
color: #191919;
font-size: 40px;
font-weight: 700;
}

.span5{

    color: #191919;
    font-size: 24px;
    font-weight: 700;
}

.span6{

    font-weight: 500;
    color: #191919;
    font-size: 16px;
}

#rbtn{

width: fit-content;
height: 40px;
color:#FFFFFF;
font-weight: 700;
background-color: #eb1700;
border-style: none;
border-radius: 18px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> section 4 */


.section4{
margin-top: -3em;
    background-color: rgb(254, 241, 238);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 4em;
}

.bake{
margin-top: 6em;
    height: 500px;
    width: 700px;
    margin-left: 13em;
}
.food{
display: flex;
margin-top: 4em;
flex-direction: column;
    flex: 2;
    gap: 1em;
    max-width: 400px;
    margin-right: 6em;
}

.note_sec4{


    flex: 1;
}
.sec4-span1{
    color: #191919;
font-size: 40px;
font-weight: 700;
}
.sec4-span2{
    font-weight: 500;
    color: #191919;
    font-size: 16px;
}

/* section5.................. */

.section5{
margin-top: 1em;
    display: flex;
    height: 30em;
    backdrop-filter: blur(20em);

background-size: cover;
background-repeat: no-repeat;
background-position: 100%;
    background-image: url("/assets/images/apple.avif");
}

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100em;
    height:30em ;
    background-color: rgba(30, 30, 30, 0.6);
}

.sec5-span1{
color: #FFFFFF;
max-width: 400px;
font-size: 40px;
font-weight: 700;
}
.sec5-span2{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    }
    .sec5-span3{
        color: #FFFFFF;
        font-size: 16px;
        max-width: 590px;
        font-weight: 700;
        }

        .essential{
position: relative;   
left: 2em;     }

.del{

    position: relative;
    left: 12em;
}

.btn{
    position: relative;
right: 2em;}

#section{
position:relative;
top: -8em;
}

.section6{

    display: flex;
    margin-top: -10em;
    background-color: #fef1fe;
    justify-content: center;
    align-items: center;
}

.section6>div{

    display: flex;
    padding-left: 5em;
    max-width: 600px;
    margin-top: 12em;
    margin-left: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10em;
}

.parcel{

    height: 500px;
width: 600px;}

.flower{
   
    height: 500px;
    width: 600px;}

    .sec6-head{
color: #191919;
font-size: 40px;
font-weight: 700;
text-align: center;

    }

    .sec6-span1{
        color: #191919;
        font-size: 40px;
        font-weight: 700;
    }
    .sec6-span3{
        color: #191919;
        font-size: 40px;
        font-weight: 700;
    }

    .sec6-span2{
        color: #191919;
        font-size: 14px;
        font-weight: 500;
    }

    .sec6-span6{
        color: #191919;
        font-size: 14px;
        font-weight: 700;
    }

    .sec6-span4{
        color: #191919;
        font-size: 14px;
        font-weight: 500;
    }

    .shop{

        position: relative;
        top: 3em;
        left: 12em;
        font-size: 40px;
        font-weight: 700;
        max-width: 600px;
    }

    .footer{
display: flex;
gap: 6em;
color: #FFFFFF;
font-weight: 500;
height:40em;
        background-color: #191919;
    }

    .footer>div{
        position: relative;
        display: flex;
        top: 5em;
        right: 6em;
        color:#c4c4c4;
        flex-direction: column;
        text-decoration: none;
        
    }

    .ft1{
position:relative;
left: 23em;
top: 2em;
font-size: 14px;
    }
    .ft2{
        position:relative;
        top:2em;
        font-size: 14px;
        left:52em;
            }

     .list>a{
        text-decoration: none;
        
        color:#c4c4c4;
     }